.seller{
   
    .title{
      display: flex;  
      justify-content: space-between;
    h3{
      font-weight: bold;
font-size: 40px;
line-height: 52px;
display: flex;
align-items: center;
img{
margin-left: 30px;  
}
    }
    }
.myseller{
  margin-top: 100px;
   display: flex;
    justify-content: space-between;
}
}