.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  20px 0 20px 0 ;
    border-bottom: 1px solid var(--main-border);
    a {
      display: flex;
      h1 {
        font-weight: bold;
        font-size: 30px;
        line-height: 39px;
        color: #000000;
      }
    }
    .right__container{
      display: flex;
      align-items:center;

      div{
        margin-right: 20px;
      }
    }
  }