.coll{
    margin-top: 200px;
    margin-bottom: 100px;
    h3{
        font-weight: bold;
font-size: 40px;
line-height: 52px;
margin-bottom: 45px;
    }

    .mycoll{
        display: flex;
        justify-content: space-between;
    }
}